*
{
margin:0;


}
/*reseteo general*/
a{
text-decoration:none;

}
a:visited
{
color:white;
}
a:link
{
color:white;
}

article,figcaption,figure,footer,header,hgroup,nav,section
{
display:block;
}
img{

max-width:100%;

}

@font-face
{
font-family: "geo";
src:url("../font/geo/geo1.ttf")format('truetype');
font-weight: normal;
font-style:normal;
}

body
{
background-color:#01002A;


/*background: #000 url(../img/fd.png) no-repeat center top;*/

}

input
{
width:150px;

}

form{
position:absolute;
width:450px;
height:300px;

font-size:.7em;
bottom:-300px;
left:50px;
color:gray;
font-family: "geo";

}

fieldset {
	width:200px;
	height:200px;
	margin:auto;
}

#result {
position:relative;
	width:280px;
	
	overflow:auto;
	padding:10px;
	
	margin:auto;
	left:40px;
	top:-50px;
	text-align:center;
	color:gray;
	font-family:geo;
	font-size:.7em;
}

.PRINCIPAL
{

position: fixed;
left: 272px; 
top: -18px; 
right: 274px; 
width: 650px;
height: 380px;

border-radius:1.5em 1.5em 0 0;

margin-top: 150px;

 /*background-color: rgba(255,255,255,.7);*/
 
 
 
 
 
}

.PRINCIPAL_P
{

position: absolute;
left: 272px; 
top: -70px; 
right: 274px; 
width: 650px;
height: 380px;

border-radius:1.5em 1.5em 0 0;

margin-top: 150px;

 /*background-color: rgba(255,255,255,.7);*/
 
 
 
 
 
}

.FOND
{

position:absolute;

top:0px;
bottom:131px;
width:1024px;
left: 50%; 
margin-left: -512px;  
z-index:-100;

}
#imgfon
{
position:absolute;
width:100%;
height:100%;
left:-1200px;
z-index:-100;
}





#ART1
{

position:absolute;


height:500px; //400
bottom:/*131px;*/ bottom:-269px;
width:700px;
left: 50%; 
margin-left: -350px;  

}

#imgcon
{
position:absolute;

bottom:-350px;

width:100%;
height:100%;

}










.FOOTER
{
position: absolute;
bottom:0px;


background-color:#01002A;

width:1024px;
left: 50%; 
margin-left: -512px; 

height:131px;


}
 
 #rayi
 {
 position:absolute;
 background-color:#00329F;
 margin-top: 505px;
 height:15px;
 width:100%;
 
 }



#NAV{
position:relative;
top:5px;
width:100%;
}
#a1{
position:relative;
width:122px;
height:169px;
left:1000px;
top:20px;


}
#im1{

-webkit-transition:-webkit-transform 2s;
transition:transform 2s;

}

#im1:hover{
-webkit-transform:-webkit-rotate(360deg);
transform:rotate(360deg);


}

div[id^="b"]
{
text-shadow:.2em .2em black;
margin-top:-8px;
text-align:center;
display:inline-block;
color:white;
width:150px;
height:95px;



/*border:2px solid black;*/
}
div[id^="b"]:hover
{
margin-top:-8px;
background-image:url('../img/fl.png');


background-color:rgba(0,50,159,.3);
background-repeat:no-repeat;
 background-position:top center;

text-align:center;
display:inline-block;
text-shadow:.1em .1em black;
width:150px;
height:95px;
border-radius:9px;
}
#ray
{
position:relative;
background-color:#00329F;
width:1024px;
height:4px;
margin:0;
padding:0;

}
#b1
{
margin-left:200px;
}

#image{
position:absolute;
right:50px;
top:50px;

}

